
@media  screen and (max-width:425px) {

    main {
        grid-template-columns: 425px;
        grid-template-rows: 100vh 100vh 100vh 5vh 5vh;
        row-gap: 5vh;

    }

    #main-grid-1 {
        grid-column: 1;
        grid-row:1;
        display: grid;
        grid-template-rows: 40vh 60vh;
        grid-template-columns: 5vw auto 5vw;

    }

    #main-grid-1 section img:nth-of-type(1) {
        display:none;
    }

    #main-grid-1 section img:nth-of-type(2) {
        display:block;
        width:auto;
        height:100%;
        margin: 0 auto;
    }

    #main-grid-1 article {
        grid-column:2;
        grid-row:2;
        max-width:100vw;
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #main-grid-1 section {
        width:auto;
        grid-column: 1/ span 3;
        grid-row:1;
    }



    #main-grid-1 article h1 {
        text-align:center;
    }

    #main-grid-1 article p {
        text-align:left;
        padding:2em;
        overflow-wrap:break-word;
    }

    #main-grid-1 article a button {
        position:static;
        margin-top:30%;
    }


    #main-grid-2 {
        grid-column:1;
        grid-row:2;
        display:grid;
        grid-template-columns:425px;
        grid-template-rows: 2rem auto; 
    }

    #titre-choix {
        text-align:center;
        padding:0.2em;
        margin-top: 0.2em;
        margin-bottom:0.5em;
    }

    #titre-choix h2 {
        font-size:1em;
        text-align:center;
    }

    form {
        grid-column:1;
        grid-row:2;

        grid-template-columns: 80vw;
        grid-template-rows: repeat(5, 5em);   
    }

    #form-choix-1 {
        grid-column: 1;
        grid-row: 1;   
    }

    #form-choix-2 {
        grid-column: 1;
        grid-row: 2;   
    }

    #form-choix-3 {
        grid-column: 1;
        grid-row: 3; 
        
    }

    #form-choix-4 {
        grid-column: 1;
        grid-row: 4;   
    }

    #form-input {
        grid-column:1;
        grid-row:5;
        flex-direction: column; 
    }

    #form-input a{
        align-self: center;
        text-decoration: none;
    }

    #go-reveal-1 {
        display:none;
    }

    #go-reveal-2, #link-reveal-btn {
        display:block;
    }

    #main-grid-3 {
        grid-column:1;
        grid-row:3;
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #ia-result {
        align-self: center;
        text-align: center;
    }

    #user-result {
        align-self: center;
        text-align:center;
    }

    #score-reveal {
        padding:1em 3em;
    }

   #go-ia-2 {
        padding:1em 3em;
       
    }

    

    footer {
        flex-direction: column;
        align-items: center;
    }

}