/* Sources: */
/* Photo by Sarah Arista</a> on <a href="https://unsplash.com/s/photos/colorful?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a>*/
/* Introduction image an mobile : Photo by <a href="https://unsplash.com/@sharonp?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Sharon Pittaway</a> on <a href="https://unsplash.com/s/photos/colors-of-life?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a>*/

:root {
    --color_background :rgb(255, 243, 35);
    
    --color-yellow:rgb(255, 202, 3);
    --color-more-yellow:rgb(255, 243, 35);
    --text_black:rgb(38, 0, 27);

    --light:rgba(255, 255, 255, 0.5);

    --CTA_color : rgb(58, 58, 58);
    --color-hover:rgb(0, 0, 0);
   
    --select-button: rgb(3, 32, 28);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: var(--color_background);
}

body {
    height:200vh;
    width:100%;
    font-family: 'Orkney', 'sans-serif';
    line-height: 1.5;
    display:grid;
    grid-template-rows: auto 5vh;
}

/* MAIN */

main {
      grid-row: 1;
      display:grid;
      grid-template-columns: 10vw 80vw 10vw;
      grid-template-rows: 100vh 45vh 35vh 5vh 5vh;
    
      align-content: start;
}

#main-grid-1 {
    grid-column: 2 / span 2;
    display: grid;
    grid-template-columns: 40vw 50vw;
}

#main-grid-1 article {
    grid-column:1;
}

#main-grid-1 article h1 {
    margin-top: 2rem;
    font-size: 2.5em;
    line-height: 1.5;
}

#main-grid-1 article p {
    margin-top:1em;
    font-size:1em;
    line-height: 1.5;
}

#main-grid-1 article a button {
    padding:1em;
    position: relative;
    left:50%;
    right:50%;
    top:20%;
    bottom:50%;
    font-size: 1em;
}

#main-grid-1 section {
    width: 20vw;
    grid-column:2 / span 2;
    grid-row:1;
    margin: 0 auto;
}

#main-grid-1 section img:nth-of-type(1) {
    display:block;
    width: auto;
    height: 100vh;
    justify-self: end;
    margin:0;
    padding:0;
}

#main-grid-1 section img:nth-of-type(2) {
    display:none;
}


#main-grid-2 {
    grid-column: 2;
    grid-row:2;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    width:100%;
    height:40vh; 
    margin: 0 auto; 
     
}

label {
    text-align: center;
    font-weight: 700;
    color: var(--text_black);
}

select {
    display:block;
    position:relative;
    margin:0.8em auto;
    padding:0.2rem;
    border-radius:1em;
    background-color: transparent; 
    border: 1px solid var(--CTA_color) ;
    border-top: 2px solid var(--CTA_color);
    color: var(--text_black);
    
    cursor:pointer;
    text-align:center;
}

select:hover {
    background-color: var(--CTA_color);
    color: white;
    border-color: var(--CTA_color);
    
}

select:focus {
    outline:none;
}

#titre-choix {
    padding:1em;
    margin-top: 1em;
}

form {
    width:100%;
    display:grid;
    grid-template-columns: repeat(4, 10em);
    grid-template-rows: auto 1fr;
    gap:1em;
    justify-content: center;
    align-items: center;
}

#form-choix-1 {

    border-radius: 2em;
    padding:1em;
    grid-column: 1;
    grid-row: 1;
    text-align: center;
   
}

#form-choix-2 {

    border-radius: 2em;
    padding:1em;
    grid-column: 2;
    grid-row:1;
    text-align: center;
}
#form-choix-3 {

    border-radius: 2em;
    padding:1em;
    grid-column: 3;
    grid-row:1;
    text-align: center;
}
#form-choix-4 {
 
    border-radius: 2em;
    padding:1em;
    grid-column: 4;
    grid-row:1;
    text-align: center;
}

#form-input{
    width:auto; 
    display:flex;
    padding:0.5em;
    grid-column:1 / span 4;
    grid-row:2;
    justify-self: center; 
    align-self: center;
    text-align: center;
  
        
}

#go {
    margin-right:2em;
}

#main-grid-3 {
    grid-column: 2;
    grid-row: 3;
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    height: auto;
    
    width: 100%; 
    grid-gap:0.2em; 
}


/* Section to check user score and replay */

#win-message {
    width:100%;
    height:auto;
    border-radius: 0.5em;
    background-color: var(--light);
    box-shadow: 0 5px 5px 5px rgb(0 0 0 / 30%);
    padding: 1em; 
    grid-column: 2;
    grid-row:1;
    justify-self: center;
    align-self: center;

    display:flex;
    flex-direction: column;
    justify-content: space-between;
    align-items:center;
}

#h1-message {
    background-color: transparent;
    margin: 0 auto;
}

/* Showing user and IA colors : containment boxes */

#user-result {
    grid-column: 1;
    justify-self: center;
    align-self: start;
}

#user-result div div, #ia-result div div {
    border: 2px solid var(--CTA_color);
    border-radius: 50em;
}

#ia-result {
    grid-column: 3;  
    justify-self: center;
    align-self: start;
}

#conteneur-voscouleurs, #conteneur-IAcouleurs {
    display:grid;
    height: auto;
    grid-template-columns: 3em 3em 3em 3em;
    grid-template-rows: 3rem;
    grid-gap:0.8em;
    margin: 2em auto;
}

/* User colors */

#voscouleurs-1 {
    background-color: var(--light);
    grid-column : 1;
}

#voscouleurs-2 {
    background-color: var(--light);
    grid-column: 2;
}
#voscouleurs-3 {
    background-color: var(--light);
    grid-column: 3;
}
#voscouleurs-4 {
    background-color: var(--light);
    grid-column: 4;
}

/* IA colors */

#IAcouleurs-1 {
    background-color: var(--light);
    grid-column : 1;

}

#IAcouleurs-2 {
    background-color: var(--light);
    grid-column: 2;
}
#IAcouleurs-3 {
    background-color: var(--light);
    grid-column: 3;
}
#IAcouleurs-4 {
    background-color: var(--light);
    grid-column: 4;
}

/* Showing user score */

#conteneur-score {
    display:flex;
    justify-content: center;
    align-items: center;
    border: 2px solid var(--CTA_color);
    background-color: var(--color-more-yellow);
    height:5rem;
    width:5rem;
    border-radius: 2.5rem;
    margin: 2em auto;
    
}

#playerScore {
    font-weight: 900;
    font-size: 1.5em;
    color: var(--CTA_color)
}


/* input customization */

button {
    position:relative;
    margin:1em;
    padding:0.8em;
    border:none;
    border-radius:10px;
    background-color: var(--CTA_color);
    color: white;
    font-weight: 700;
    cursor: pointer;
    
}

button:hover {
    background-color: var(--color-hover);
}

/* No display of this button on large screen */

#go-reveal-2, #link-reveal-btn {
    display:none;
}

/* Footer customization */

footer {
    text-decoration: none;
    color:var(--text-black);
    grid-row:2;
    margin: 1vh 10vw;
    display: flex;
    justify-content: space-between;
}

footer img {
    width:5em;
    height: auto;
}

